*,
*::before,
*::after {
    box-sizing: border-box;
    color: black;
    padding: 0;
    margin: 0 auto;
}

html,
body,
.wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: teal;
}

.header {
    padding: 0;
    margin: 0; 
    width:100%;
    height: 4rem;
    background-color: teal;
    list-style: none;
    display: flex;
} 
.coinBounce
{animation: coinBounce 0.1s 1 linear;
 position: relative;
 top: 0 50%;
 position: relative;
 top: -5xp; 
 position: relative;
 top: 0; 
} 

.nav ul{
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    display: flex;
}

.nav li{
    margin: 0 auto;
    font-size: 2rem;
    color:white;
    margin-inline: 4rem;
    line-height: 4rem;
    outline: none;
}

a{
    color: white;
    outline: none;
    border:none;
    text-decoration: none;
}

body{
    margin: 0 auto;
    padding: 0;
    background-color: #84a22fe
    front color: #fffffff
}

main{
    margin-top: 1rem;
    text-align: center;
}

footer{
    position: fixed;
    bottom: 0;
    padding: 1rem;
    background-color: teal;
    color: white;
    width: 100%;
}
